{{> head }}

{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Saul Xibille</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum vitae a ratione odio vel tenetur magnam
      rem doloribus iste accusamus fugit officiis repellendus unde doloremque quibusdam explicabo, repellat dignissimos!
    </p>
  </div>

  <div class="col-4">
    <img src="assets/img/img-1.jpg" alt="" class="img-thumbnail">
  </div>
</div>


{{> footer }}